[Desktop Entry]
Type=Application
Name=StepRoomController
Comment=Run StepRoomController.py in terminal
Exec=lxterminal --title "kalTaran" -e ~/Desktop/kaltaran/startup/startup.sh
StartupNotify=false
Terminal=true
