[Desktop Entry]
Type=Application
Name=StepRoomController
Comment=Run StepRoomController.py in terminal
Exec=bash -c "numlockx on; lxterminal --title 'StepRoom' -e 'python3 ~/Desktop/kaltaran/StepRoomController.py; exec bash'"
StartupNotify=false
Terminal=false
